.search-header {
  min-height: 70px;
  padding: 8px 24px 0;
}

.search-filter-form {
  font-size: 14px;
  width: 100%;
  font-family: "Roboto Mono", monospace;
}

.input-icon {
  font-size: 20px !important;
}