.table-div {
  height: calc(100% - 60px);
  display: flex;
  flex-direction: column;
  padding: 8px 24px 8px;
}
  
mat-table {
  flex: 1 1 auto;
  min-height: 100px;
  overflow: scroll;
  width: 100%;
}

mat-paginator {
  flex: 0 1 auto;
  width: 100%;
}

.mat-column-filename {
  flex: 0 0 20%;
}

.mat-column-filename.mat-cell {
  font-size: 9px;
  opacity: 0.8;
}

.search-header {
  min-height: 70px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
  font-family: "Roboto Mono", monospace;
}

.mat-header-cell.mat-sort-header-sorted {
  color: black;
}

.input-icon {
  font-size: 20px !important;
}