<!--The content below is only a placeholder and can be replaced.-->
<mat-sidenav-container>
    <mat-sidenav #sidenav position='start' mode="over">
        <app-settings></app-settings>
    </mat-sidenav>
    <div class="app-content">
        <app-toolbar [title]="title" [sidenav]="sidenav"></app-toolbar>
            <app-searchbar></app-searchbar>
            <app-table></app-table>
        <app-progressbar [active]="activeSearch"></app-progressbar>
    </div>            
</mat-sidenav-container>
